{
  "singleQuote": true,
	"semi": true,
	"useTabs": false,
	"tabWidth": 2,
	"printWidth": 80,
	"endOfLine": "auto",
	"arrowParens": "always",
	"jsxSingleQuote": true,
	"importOrder": ["^[./]"],
  "overrides": [
    {
      "files": ["*.svelte"],
      "options": {
        "plugins": ["prettier-plugin-svelte"],
        "svelteSortOrder": "options-scripts-styles-markup",
        "svelteStrictMode": true,
        "svelteBracketNewLine": true,
        "svelteAllowShorthand": true,
        "svelteIndentScriptAndStyle": true,
        "svelteSingleQuote": true
      }
    }
  ]
}
